<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>


	<h1>
	  <font color="#0B7337">Dafault Page by Yoon</font>
  </h1>
<table border=1 width="90%" align="center">
   
    <tr bgcolor="#16CD6A">
	   <td colspan=3 align="center"><img src="logo.svg" width=500 hspace=15 vspace=15></td>
    </tr>
    
    <tr>
	   <td rowspan=2 width="30%"><img src="img-9.jpg" alt="QCC Kupferberg Holocaust Center"></td>
	   <td>The quick brown fox jump over the lazy dog near the bank of the river.</td>
	   <td>The quick brown fox jump over the lazy dog near the bank of the river.</td>
    </tr>
    
    <tr>
	   <td>The quick brown fox jump over the lazy dog near the bank of the river.</td>
	   <td>The quick brown fox jump over the lazy dog near the bank of the river.</td>
    </tr>
    
    <tr>
		<td><h3> QCC Kupferberg Holocaust Center </h3>
       The lessons of the Holocaust offer an unparalleled opportunity to address the cultural, educational, and civic needs of our diverse community. The Harriet and Kenneth Kupferberg Holocaust Center (KHC) is neither a museum nor a library: We are a learning laboratory where students, survivors, and community members learn through their hearts, minds, and actions. </td>
	   <td colspan=2>h</td>
    </tr>
    
    <tr bgcolor="yellow">
	   <td colspan=3 align="center">
	   <a href="homepage.html">HOME</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	   <a href="homepage.html">EDUCATION</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	   <a href="homepage.html">EXPERIENCE</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	   <a href="homepage.html">CONTACT</a>&nbsp;&nbsp;|&nbsp;&nbsp;
	   </td>
    </tr>
    
</table>